 <div class='wrapper mb-5 pt-12'>
   <div class=" accordion accordion-blue bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['first'] = !section['first']">BIF
   </div>
   <div class="panel panel-blue rounded shadow-md w-3/5" *ngIf="section['first']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This allows for the maintenance of construction projects that are too old to be in
         WinCPMS.
       </p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=BIF' target='_top'>John Grabauskas</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Angie.Hoover@ks.gov?Subject=BIF' target='_top'>Angie Hoover</a>
     </div>
   </div>

   <div class="accordion accordion-purple bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['second'] = !section['second']">
     BROMS (BRidge Office
     Management
     System)</div>
   <div class="panel panel-purple rounded shadow-md w-3/5" *ngIf="section['second']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>The application tracks bridge and culvert costs, and it tracks project checkpoints and/or
         milestones.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network</li>
         <li>Browser</li>
         <li>IIS Server</li>
         <li>Database Server</li>
         <li>BrM Data via Data Warehouse Views</li>
         <li>CMS Data via Web Service</li>
         <li>Staff Data via RWM Web Service</li>
         <li>Project Data via WinCPMS Web Service</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=BROMS' target='_top'>John Grabauskas</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Angie.Hoover@ks.gov?Subject=BIF' target='_top'>Angie Hoover</a>
       <a href='mailto:John.Culbertson@ks.gov?Subject=BIF' target='_top'> John Culbertson</a>
     </div>
   </div>

   <div class="accordion accordion-green bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['third'] = !section['third']">
     CIIMS (Crossing Inventory
     Information Management System)</div>
   <div class="panel panel-green rounded shadow-md w-3/5" *ngIf="section['third']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>The application calculates the structure drainage.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network</li>
         <li>Browser</li>
         <li>IIS Server</li>
         <li>Database Server</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:Gavin.B.McDowell@ks.gov?Subject=CIIMS' target='_top'>Gavin McDowell</a>
     </div>
   </div>

   <div class="accordion accordion-red bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['fourth'] = !section['fourth']">DSC
     (Drainage Structure
     Calculator)</div>
   <div class="panel panel-red rounded shadow-md w-3/5" *ngIf="section['fourth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>The application tracks railroad corssings on public highways.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network</li>
         <li>Browser</li>
         <li>IIS Server</li>
         <li>Database Server</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:Scott.Marquis@ks.gov?Subject=DSC' target='_top'>Scott Marquis</a>
       <a href='mailto:Shannon.Hoffman@ks.gov?Subject=DSC' target='_top'>Shannon Hoffman</a>

       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:D.Osterhaus@ks.gov?Subject=DSC' target='_top'>Darlene Osterhaus</a>
       <a href='mailto:Mitch.Sothers@ks.gov?Subject=DSC' target='_top'>Mitch Sothers</a>
     </div>
   </div>

   <div class="accordion accordion-yellow bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['fifth'] = !section['fifth']">
     Geologger</div>
   <div class="panel panel-yellow rounded shadow-md w-3/5" *ngIf="section['fifth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>The application logs geological test sites.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Mobile Device</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:Gavin.B.McDowell@ks.gov?Subject=Geologger' target='_top'>Gavin McDowell</a>
       <a href='mailto:Scott.Marquis@ks.gov?Subject=Geologger' target='_top'>Scott Marquis</a>
       <a href='mailto:Shannon.Hoffman@ks.gov?Subject=Geologger' target='_top'>Shannon Hoffman</a>
     </div>
   </div>

   <div class="accordion accordion-blue bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['sixth'] = !section['sixth']">IT
     Assets</div>
   <div class="panel panel-blue rounded shadow-md w-3/5" *ngIf="section['sixth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This app tracks electronic equipment used for Information Technology.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Database Servers</li>
         <li>IIS Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:Scott.Marquis@ks.gov?Subject=IT%20Assets' target='_top'>Scott Marquis</a>
       <a href='mailto:Shannon.Hoffman@ks.gov?Subject=IT%20Assets' target='_top'>Shannon Hoffman</a>
     </div>
   </div>

   <div class="accordion accordion-blue bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['seventh'] = !section['seventh']">
     Q Ville</div>
   <div class="panel panel-blue rounded shadow-md w-3/5" *ngIf="section['seventh']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This application estimates peak discharges depending on the size of the drainage area.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Browser</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
         <li>Microsoft Access</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=Q%20Ville' target='_top'>John Grabauskas</a>
       <a href='mailto:Scott.Marquis@ks.gov?Subject=Q%20Ville' target='_top'>Scott Marquis</a>
     </div>
   </div>

   <div class="accordion accordion-purple bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['eighth'] = !section['eighth']">
     RAID (Right-of-Way
     Acquisition,
     Inventory, & Disposal)</div>
   <div class="panel panel-purple rounded shadow-md w-3/5" *ngIf="section['eighth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This tracks highway right-of-way appraisal, acquisition, relocation, property management,
         and
         disposal. The application also follows easements, both temporary and permanent, and fee-simple ownership.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Browser</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
         <li>WinCPMS</li>
         <li>RDT</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=RAID' target='_top'>John Grabauskas</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Jennifer.Kern@ks.gov?Subject=RAID' target='_top'>Jennifer Kerns</a>
     </div>
   </div>

   <div class="accordion accordion-green bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['ninth'] = !section['ninth']">
     RAID Menu</div>
   <div class="panel panel-green rounded shadow-md w-3/5" *ngIf="section['ninth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This allows for administrators to correct projects.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Browser</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=RAID%20Menu' target='_top'>John Grabauskas</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Jennifer.Kern@ks.gov?Subject=RAID%20Menu' target='_top'>Jennifer Kerns</a>
     </div>
   </div>

   <div class="accordion accordion-red bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['tenth'] = !section['tenth']">ROAS
     (Right-of-Way Outdoor
     Advertising System)</div>
   <div class="panel panel-red rounded shadow-md w-3/5" *ngIf="section['tenth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>The application regulates and tracks billboards and other outdoor advertising along public
         highways.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Browser</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=ROAS' target='_top'>John Grabauskas</a>
       <a href='mailto:Shannon.Hoffman@ks.gov?Subject=ROAS' target='_top'>Shannon Hoffman</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Kelly.Grano@ks.gov?Subject=ROAS' target='_top'>Kelly Grano</a>
     </div>
   </div>

   <div class="accordion accordion-yellow bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['eleventh'] = !section['eleventh']">ROAS Menu</div>
   <div class="panel panel-yellow rounded shadow-md w-3/5" *ngIf="section['eleventh']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This helps maintain outdoor advertising record congruency.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=ROAS%20Menu' target='_top'>John Grabauskas</a>
       <a href='mailto:Shannon.Hoffman@ks.gov?Subject=ROAS%20Menu' target='_top'>Shannon Hoffman</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Kelly.Grano@ks.gov?Subject=ROAS%20Menu' target='_top'>Kelly Grano</a>
     </div>
   </div>

   <div class="accordion accordion-blue bg-white cursor-pointer h-16 rounded shadow-md text-xl"
     (click)="section['twelfth'] = !section['twelfth']">
     WebSalvage</div>
   <div class="panel panel-blue rounded shadow-md w-3/5" *ngIf="section['twelfth']">
     <div class='card border-none shadow-md'>
       <p class='subtitle text-xl'>Description</p>
       <p class='description'>This application tracks salvage and storage yards for automobiles and other recycling.</p>
       <br>
       <p class='subtitle text-xl'>Dependencies</p>
       <ul>
         <li>Network Connectivity</li>
         <li>Browser</li>
         <li>Database Servers</li>
         <li>Intranet Servers</li>
       </ul>
       <br>
       <p class='subtitle text-xl'>Support Contact</p>
       <a href='mailto:John.Grabauskas@ks.gov?Subject=WebSalvage' target='_top'>John Grabauskas</a>
       <br>
       <p class='subtitle text-xl'>User Contact</p>
       <a href='mailto:Kelly.Grano@ks.gov?Subject=WebSalvage' target='_top'>Kelly Grano</a>
       <a href='mailto:Bill.Simons@ks.gov?Subject-WebSalvage' target='_top'>Bill Simons</a>
     </div>
   </div>
 </div>
