<div class='card border-none p-3 shadow-md'>
  <div class='content'>
    <div class='navigation'>
      <p class='title pt-3'>Application Connections</p>
      <app-dropdown></app-dropdown>
    </div>
    <hr>
    <table>
      <thead class='block'>
        <tr class='block py-2'>
          <th class='font-normal w-24'>IP Address</th>
          <th class='font-normal w-24'>Count</th>
          <th class='font-normal w-24'>Date</th>
          <th class='font-normal w-24'>URL</th>
        </tr>
      </thead>
      <tbody class='block overflow-auto'>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>8</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>3</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>2</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>9</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>1</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>4</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>5</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>7</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>11</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
        <tr class='block'>
          <td class='py-2'>132.168.1.1</td>
          <td class='py-2'>10</td>
          <td class='py-2'> 12/10/2019</td>
          <td class='py-2'>http://prodnet/webBROMS/UIPages/Projects/</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
