.card {
    height: 489px;
    margin: -490px 0 0 1000px;
    width: 650px;
}

.navigation {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

table {
    color: #8E8E8E;
}

tbody {
    height: 360px;
}

td {
    color: #5F5F5F;
    border-bottom: 0.5px solid #D3D4D5;
    width: 630px;
}

thead tr {
    color: #5F5F5F;
}

.title {
    color: #8E8E8E;
}

