.card {
    height: 489px;
    margin: 50px 0 0 300px;
    width: 650px;
}

.error {
    background-color: #FF4E52 0.1;
}

.success {
    color: #4FC7A4
}

td {
    color: #5F5F5F;
}

th {
    color: #8E8E8E;
}

td {
    border-top: 0.5px solid #D3D4D5;
}

.warn {
    color: #FF4E52;
}