<div class='card border-none p-3 shadow-md'>
  <div class='content'>
    <table class='w-full'>
      <tr>
        <th class='font-normal py-3'>Application</th>
        <th class='font-normal py-3'>Uptime</th>
        <th class='font-normal py-3'>Speed</th>
        <th class='font-normal py-3'>Ping</th>
        <th class='font-normal py-3'>Security</th>
        <th class='font-normal py-3'>Status</th>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>BROMS</td>
        <td class='py-2'>56 hr</td>
        <td class='py-2 warn'>3 ms</td>
        <td class='py-2 warn'>144</td>
        <td class='py-2 warn'>HTTP</td>
      </tr>
      <tr class='error'>
        <td class='py-2 warn'><img src='../../../assets/images/outline-error_outline-24px.svg'></td>
        <td class='py-2 warn'>RAID</td>
        <td class='py-2 warn'> 0 hr</td>
        <td class='py-2 warn'>999 ms</td>
        <td class='py-2 warn'>999</td>
        <td class='py-2 warn'>NA</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>CIIMS</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2'><1 ms</td>
        <td class='py-2 warn'>144</td>
        <td class='py-2 success'>HTTPS</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>DSC</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2'>2 ms</td>
        <td class='py-2'>127</td>
        <td class='py-2 success'>HTTPS</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>Geologger</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2 warn'>3 ms</td>
        <td class='py-2'>67</td>
        <td class='py-2 success'>HTTPS</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>IT Assets</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2'>2 ms</td>
        <td class='py-2 warn'>144</td>
        <td class='py-2 warn'>HTTP</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>Q Ville</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2 warn'>9 ms</td>
        <td class='py-2'>80</td>
        <td class='py-2 warn'>HTTP</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>ROAS</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2'><1 ms</td>
        <td class='py-2 warn'>180</td>
        <td class='py-2 warn'>HTTP</td>
      </tr>
      <tr>
        <td class='py-2'><img src='../../../assets/images/outline-check_circle-24px.svg'></td>
        <td class='py-2'>WebSalvage</td>
        <td class='py-2'> 56 hr</td>
        <td class='py-2'><1 ms</td>
        <td class='py-2'>23</td>
        <td class='py-2 warn'>HTTP</td>
        <td class='py-2'></td>
      </tr>
    </table>
  </div>
</div>
